:root{
    --sizesbutton:18px;
}

body{
    background: linear-gradient(
        45deg,
        rgba(34, 59, 140, 1) 19%,
        rgba(29, 145, 103, 1) 96%
      );
}

.MyApp{
    
    width:90%;
    border: 2px solid rgba(38, 189, 136, 1);
    border-radius: 8px;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(
    45deg,
    rgba(34, 59, 140, 1) 19%,
    rgba(29, 145, 103, 1) 96%
  );
    background-blend-mode: normal;
  
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 30px auto;
    padding: 10px;
    color:white;
}
button{
    color: white;

}

#session-length, #break-length{
    display:inline-block;
    margin:0 15px

}
.for-break-length,.for-session-length{
    margin-bottom: 10px;
}
#reset{
    margin-left:10px;
}
@media screen and (max-width:370px) {

    #break-length, #session-length{
        display: block;
        margin:15px 0;

    }
}
@media screen and (min-width:576px) {
    .grid{
        width:90%;
        margin:0 auto;
    }
    
}
@media screen and (min-width:768px) {
    
    .grid{
        width:90%;
        
        margin:0 auto;
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }
    .flex{
        grid-column: span 3;

        display:grid;
        justify-items: center;
        align-items: center;
        grid-template-columns: repeat(2,1fr);
    }
    .display{
        grid-column: span 3;
        align-self: center;
        justify-self: center;
    }
   
}

